{{ define "main" }}
    <main>
        <div class="home-hero">
            {{ if .Site.Params.Portrait.Path }}
                <img src="{{ .Site.Params.Portrait.Path }}" class="circle" alt="{{ .Site.Params.Portrait.Alt }}" style="max-width:{{ .Site.Params.Portrait.MaxWidth }}" />
            {{ end }}

            <h1>{{ .Site.Title }}</h1>

            {{ partial "subtitle.html" . }}

            {{- with .Site.Params.social }}
                <div class="home-social">
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
        </div>

        <!-- Posts List -->
        {{ $posts := where .Site.RegularPages "Section" "posts" }}
        {{ if $posts }}
            <div class="posts home-posts">
                {{ range $posts.GroupByDate "2006" }}
                    <div class="posts-group">
                        <div class="post-year">{{ .Key }}</div>

                        <ul class="posts-list">
                            {{ range .Pages }}
                                <li class="post-item">
                                    <a href="{{ .RelPermalink }}" class="post-item-inner">
                                        {{ partial "post-cover.html" . }}
                                        <span class="post-title">{{.Title}}</span>
                                        <span class="post-day">
                                            {{ if .Site.Params.dateformShort }}
                                                {{ time.Format .Site.Params.dateformShort .Date }}
                                            {{ else }}
                                                {{ time.Format "Jan 2" .Date }}
                                            {{ end }}
                                        </span>
                                    </a>
                                </li>
                            {{ end }}
                        </ul>
                    </div>
                {{ end }}
            </div>
        {{ end }}
    </main>
{{ end }}
